body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.cus-tom-container{
    display: flex;
    box-sizing: border-box;
    position: absolute;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
}
.welcom-content{
    .top-bar{
        background-color: #000;
        height: 100px;
        position: fixed;
        top: 0px;
        z-index: 9999;
        width: 100%;
        opacity: 0.8;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .bar-list{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .left-list{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: left;
                padding-left: 20px;
                .child-list{
                    background: #fff;
                    color: black;
                    padding: 10px 50px;
                    border-radius: 5px;
                    &:hover{
                        background: #000;
                        color: #fff;
                        border:1px solid #fff;
                    }
                    a{
                        text-decoration: none;
                        color: black;
                    }
                    &:hover a{
                      color: #fff;
                    }
                }
            }
            .right-list{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: left;
                padding-right: 20px;
                gap: 20px;
                .child-list{
                    background: #fff;
                    color: black;
                    padding: 10px 50px;
                    border-radius: 5px;
                    &:hover{
                        background: #000;
                        color: #fff;
                        border:1px solid #fff;
                    }
                    a{
                        text-decoration: none;
                        color: black;
                    }
                    &:hover a{
                      color: #fff;
                    }
                }
            }
        }
    }
}
.login{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.register{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
