.return-home {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    display: flex !important;
    margin-left: 1px !important;
    text-decoration: none;
    color: #fff;
   }
.return-home:hover{
    background-color:#fff;
    color: black;
}
.return-home p{
    margin-left: 5px;
    line-height: 1;
    margin-bottom: 0px;
    font-size: 15px;
}
.nav {
    .nav-item{
        background: #000;
        margin-right: 5px;
        border-radius: 5px;
        position: relative;
        display: block;
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 10px;
    }
}